[build]
  command   = "npm run build"
  functions = "out_functions"
  publish   = "out_publish"

[[headers]]
  for = "/*"
  [headers.values]
  Access-Control-Allow-Origin = "*"

[[plugins]]
  package = "netlify-plugin-cache-nextjs"
