@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'JetBrains Mono';
	src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff2')
			format('woff2'),
		url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/ttf/JetBrainsMono-Regular.ttf')
			format('truetype');
	font-weight: normal;
	font-style: normal;
}

:root {
	--color-darkgray: #1e2128;
	--color-darkgrey-border: #2b3038;
	--color-darkblue: #120078;
	--color-deeppurple: #9d0191;
	--color-pinky: #fd3a69;
	--color-darkyello: #fecd1a;
}

@layer base {
	body {
		line-height: 1.8;
		background-color: var(--color-darkgray);
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	code {
		-webkit-font-feature-settings: 'liga' on, 'calt' on;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		font-family: 'JetBrains Mono';
	}
	code,
	pre {
		text-rendering: optimizeLegibility;
		font-family: 'JetBrains Mono';
	}
	code {
		background-color: var(--color-darkgrey-border);
		color: var(--color-darkyello);
		padding: 0.3rem 0.5rem;
		font-size: 80%;
	}
	pre {
		background-color: var(--color-darkgrey-border);
		color: var(--color-darkyello);
		width: 100%;
		padding: 1rem;
		margin-bottom: 1rem;
		overflow: auto;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 2rem 0 1.2rem 0;
		font-weight: bold;
	}
	h1 {
		margin-bottom: 1rem;
	}
	h2 {
		border-top: 1px solid tomato;
		padding-top: 2rem;
	}
	a {
		color: var(--color-pinky);
		text-decoration: underline;
		transition: .3s ease;
	}
	a:hover {
		background: var(--color-deeppurple);
		color: #ffffff;
	}
	p {
		margin-bottom: 1rem;
	}
	h1 + p {
		border-top: 2px solid #fff;
		padding-top: 1rem;
		font-weight: bold;
	}
	ul, ol {
		margin-bottom: 1rem;
	}
	ul {
		list-style: disc;
	}
	ol {
		list-style: decimal;
	}
	li {
		margin-left: 1.5rem;
	}
	ol li {
		padding-left: 1.5rem;
	}
	ul li {
		padding-left: 1rem;
	}
}
