@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Raleway&display=swap');

:root {
	--color-darkgray: #1e2128;
	--color-darkgrey-border: #2b3038;
	--color-darkblue: #002478;
	--color-blue: #2358d5;
	--color-deeppurple: #9d0191;
	--color-pinky: #fd3a69;
	--color-darkyello: #fecd1a;
	--color-white: #fff;
}

@layer base {
	body {
		background-color: var(--color-darkgray);
		font-family: 'Raleway', sans-serif;
	}
	blockquote {
		border-left: .8rem solid var(--color-blue);
		background-color: var(--color-darkblue);
		font-family: 'Lora', serif;
	}
	blockquote a {
		@apply text-white;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'Lora', serif;
		font-weight: bold;
	}
	
	h1 {
		margin: 3rem 0 1.3rem 0;
	}
	h2 {
		margin: 2rem 0 1.3rem 0;
	}
	a {
		color: var(--color-blue);
		text-decoration: underline;
		transition: .3s ease;
	}
	a:hover {
		color: var(--color-darkyello);
		text-decoration: none;
	}
	p {
		margin-bottom: 1.3rem;
	}
	h1 + p {
		margin-bottom:2rem;
		font-family: 'Lora', serif;
	}
	ul, ol {
		margin-bottom: 1.3rem;
	}
	ul {
		list-style: disc;
	}
	ol {
		list-style: decimal;
	}
	li {
		margin-left: 1.5rem;
	}
	ol li {
		padding-left: 1.5rem;
	}
	ul li {
		padding-left: 1rem;
	}

	button, .button {
		@apply py-2 px-4 bg-white text-white font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:ring-opacity-75;
		transition: .3s ease;
		background: var(--color-blue);
		color: var(--color-white);
		text-decoration: none;
	}

	button:hover, .button:hover {
		background: var(--color-darkblue);
	}
}
